Repository rndelpuerto/lenguados: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(husky): pre‑commit runs lint‑staged; pre‑push runs tests
  .husky/pre-commit
  .husky/pre-push
  package.json
  packages/common/src/style.css
Due: prettier --write

Update package.json
  package-lock.json
Due: prettier --write

build(lerna): add conventional-version scripts
  .gitignore
  lerna.json
  package-lock.json
  package.json
Due: prettier --write

build(lerna): add conventional-version scripts
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/common/package.json
Due: prettier --write

feat(examples): Canvas hello-world demo + per-package asset copy (P0-08)
  eslint.config.js
  package-lock.json
  package.json
  packages/examples/README.md
  packages/examples/dev-main.mjs
  packages/examples/index.ts
  packages/examples/main.js
  packages/examples/main.mjs
  packages/examples/module-internals.json
  packages/examples/package.json
  packages/examples/src/canvas-hello/__tests__/canvas-hello.dom.spec.ts
  packages/examples/src/canvas-hello/demo.html
  packages/examples/src/canvas-hello/index.ts
  rollup.config.mjs
Due: eslint --fix, prettier --write

package-lock.json
  package-lock.json
Due: prettier --write

Create deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

chore: close P0-10 CI/CD pipeline and bump version to v0.3.3
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-validation.yml
  docs/blog/authors.yml
  docs/blog/tags.yml
  docs/docs/api/typedoc-sidebar.cjs
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/index.tsx
  jest.config.ts
  package.json
  packages/common/dev-main.mjs
  packages/common/main.mjs
  packages/common/package.json
  packages/examples/dev-main.mjs
  packages/examples/main.mjs
  packages/examples/package.json
  packages/examples/src/canvas-hello/demo.html
Due: eslint --fix, prettier --write

chore(release): publish Lenguados monorepo packages to npm
  .github/workflows/deploy-docs.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  docs/backup/docs/tutorial-basics/_category_.json
  docs/backup/docs/tutorial-basics/congratulations.md
  docs/backup/docs/tutorial-basics/create-a-blog-post.md
  docs/backup/docs/tutorial-basics/create-a-document.md
  docs/backup/docs/tutorial-basics/create-a-page.md
  docs/backup/docs/tutorial-basics/deploy-your-site.md
  docs/backup/docs/tutorial-basics/markdown-features.mdx
  docs/backup/docs/tutorial-extras/_category_.json
  docs/backup/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/backup/docs/tutorial-extras/img/localeDropdown.png
  docs/backup/docs/tutorial-extras/manage-docs-versions.md
  docs/backup/docs/tutorial-extras/translate-your-site.md
  docs/docs/api/@lenguados/common/index.md
  docs/docs/api/@lenguados/common/index.ts/index.md
  docs/docs/api/@lenguados/common/src/demo/index.ts/functions/add.md
  docs/docs/api/@lenguados/common/src/demo/index.ts/index.md
  docs/docs/api/@lenguados/common/src/utils/parse-json-data.ts/functions/parseJSONData.md
  docs/docs/api/@lenguados/examples/src/canvas-hello/index.ts/functions/helloCanvas.md
  docs/docs/api/typedoc-sidebar.cjs
  docs/docs/intro.md
  docs/docusaurus.config.ts
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  jest.config.ts
  lerna.json
  package.json
  packages/common/index.ts
  packages/common/module-internals.json
  packages/common/package.json
  packages/common/src/demo/__tests__/add.node.spec.ts
  packages/common/src/demo/index.ts
  packages/examples/package.json
Due: eslint --fix, prettier --write

chore(release): publish
  .github/workflows/release.yml
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/examples/CHANGELOG.md
  packages/examples/package.json
Due: prettier --write

chore(ci): update release workflow to use setup-node scope & always-auth, remove invalid --access flag
  .github/workflows/release.yml
  lerna.json
Due: prettier --write

feat(scaffold): add Cookiecutter template for new monorepo packages (P0-12)
  .eslintignore
  .stylelintignore
  CHANGELOG.md
  eslint.config.js
  jest.config.ts
  lerna.json
  package-lock.json
  package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/examples/CHANGELOG.md
  scripts/build.mjs
  scripts/clean.mjs
  scripts/outdated.mjs
  scripts/publish-local.mjs
  scripts/unpublish-local.mjs
  scripts/watch.mjs
  tools/package/cookiecutter.json
  tools/package/hooks/pre_gen_project.py
  tools/package/{{ cookiecutter.package_name }}/@types/.gitkeep
  tools/package/{{ cookiecutter.package_name }}/README.md
  tools/package/{{ cookiecutter.package_name }}/dev-main.mjs
  tools/package/{{ cookiecutter.package_name }}/index.ts
  tools/package/{{ cookiecutter.package_name }}/main.js
  tools/package/{{ cookiecutter.package_name }}/main.mjs
  tools/package/{{ cookiecutter.package_name }}/module-internals.json
  tools/package/{{ cookiecutter.package_name }}/package.json
  tools/package/{{ cookiecutter.package_name }}/src/__tests__/index.node.spec.ts
  tools/package/{{ cookiecutter.package_name }}/src/index.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat(math2d): add 'scalar' module
  packages/math2d/README.md
  packages/math2d/dev-main.mjs
  packages/math2d/index.ts
  packages/math2d/main.js
  packages/math2d/main.mjs
  packages/math2d/module-internals.json
  packages/math2d/package.json
  packages/math2d/src/__tests__/scalar.node.spec.ts
  packages/math2d/src/scalar.ts
Due: eslint --fix, prettier --write

chore(release): publish
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/examples/CHANGELOG.md
  packages/examples/package.json
  packages/math2d/CHANGELOG.md
  packages/math2d/package.json
Due: prettier --write

fix(docs): correct Docusaurus configuration
  docs/docs/api/@lenguados/common/src/utils/parse-json-data.ts/functions/parseJSONData.md
  docs/docs/api/@lenguados/examples/src/canvas-hello/index.ts/functions/helloCanvas.md
  docs/docs/api/@lenguados/math2d/index.md
  docs/docs/api/@lenguados/math2d/index.ts/index.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/clamp.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/epsilonEquals.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/lerp.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/normalize.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/relativeEquals.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/saturate.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/sign.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/functions/smoothStep.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/index.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/DEG2RAD.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/EPSILON.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/HALF_PI.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/PI.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/RAD2DEG.md
  docs/docs/api/@lenguados/math2d/math2d/scalar/variables/TAU.md
  docs/docs/api/_media/CHANGELOG.md
  docs/docs/api/index.md
  docs/docs/api/typedoc-sidebar.cjs
  docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(release): vv0.6.0 - Phase-1 Task 2 - Implement Vector2 & Mat2 in @lenguados/math2d
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/examples/CHANGELOG.md
  packages/examples/package.json
  packages/math2d/CHANGELOG.md
  packages/math2d/package.json
Due: prettier --write

docs: trigger publish
  lerna.json
Due: prettier --write

refactor: apply DRY principle and API consistency to math2d package
  packages/math2d/API_CONSISTENCY_PLAN.md
  packages/math2d/COHERENCE_REVIEW_RESULTS.md
  packages/math2d/REFACTOR_ANALYSIS.md
  packages/math2d/index.ts
  packages/math2d/src/__tests__/float32-vector2-array.node.spec.ts
  packages/math2d/src/angle.ts
  packages/math2d/src/batch.ts
  packages/math2d/src/constants/index.ts
  packages/math2d/src/constants/math.ts
  packages/math2d/src/constants/precision.ts
  packages/math2d/src/core-utils/index.ts
  packages/math2d/src/core-utils/tolerance.ts
  packages/math2d/src/geometry/index.ts
  packages/math2d/src/geometry/metrics.ts
  packages/math2d/src/geometry/predicates.ts
  packages/math2d/src/linalg.ts
  packages/math2d/src/mat3.ts
  packages/math2d/src/numeric.ts
  packages/math2d/src/rot2.ts
  packages/math2d/src/scalar.ts
  packages/math2d/src/transform2.ts
  packages/math2d/src/typed-arrays/float32-vector2-array.ts
  packages/math2d/src/typed-arrays/index.ts
  packages/math2d/src/utils/hash.ts
  packages/math2d/src/utils/index.ts
  packages/math2d/src/utils/parse.ts
  packages/math2d/src/utils/random-source.ts
  packages/math2d/src/utils/random.ts
  packages/math2d/src/vector2.ts
  packages/math2d/src/vector2/arithmetic.ts
  packages/math2d/src/vector2/base.ts
  packages/math2d/src/vector2/constants.ts
  packages/math2d/src/vector2/factories.ts
  packages/math2d/src/vector2/geometry.ts
  packages/math2d/src/vector2/helpers.ts
  packages/math2d/src/vector2/index.ts
  packages/math2d/src/vector2/interpolation.ts
  packages/math2d/src/vector2/temporary-complete.ts
Due: eslint --fix, prettier --write

refactor(math2d): improve module coherence and apply ES6 best practices
  packages/math2d/src/batch.ts
  packages/math2d/src/geometry/metrics.ts
  packages/math2d/src/mat2.ts
  packages/math2d/src/mat3.ts
Due: eslint --fix, prettier --write

docs(math2d): add exhaustive commercial-grade review
  packages/math2d/MATH2D_EXHAUSTIVE_REVIEW.md
  packages/math2d/VECTOR2_COMMERCIAL_GRADE_REVIEW.md
Due: prettier --write

docs: add corrected Vector2 analysis summary
  packages/math2d/VECTOR2_CORRECTED_SUMMARY.md
Due: prettier --write

fix(math2d): correct LINEAR_EPSILON import in Mat3
  packages/math2d/src/mat3.ts
Due: eslint --fix, prettier --write

fix: update file paths in documentation comments
  packages/math2d/src/vector2/arithmetic.ts
  packages/math2d/src/vector2/base.ts
  packages/math2d/src/vector2/constants.ts
  packages/math2d/src/vector2/factories.ts
  packages/math2d/src/vector2/geometry.ts
  packages/math2d/src/vector2/helpers.ts
  packages/math2d/src/vector2/index.ts
  packages/math2d/src/vector2/interpolation.ts
  packages/math2d/src/vector2/temporary-complete.ts
Due: eslint --fix, prettier --write

docs: add structure migration guide
  packages/math2d/STRUCTURE_MIGRATION.md
Due: prettier --write

docs: Add comprehensive Vector2 refactor review documentation
  docs/reviews/CHANGELOG.md
  docs/reviews/CONTRIBUTING.md
  docs/reviews/README.md
  docs/reviews/check_vector2_api.js
  docs/reviews/math2d_exhaustive_review.md
  docs/reviews/missing_vector2_methods.md
  docs/reviews/vector2_api_comparison.md
  docs/reviews/vector2_final_review_summary.md
  docs/reviews/vector2_principles_review.md
Due: eslint --fix, prettier --write

fix: Remove incorrectly moved files from docs/reviews
  docs/reviews/CHANGELOG.md
  docs/reviews/CONTRIBUTING.md
  docs/reviews/README.md
Due: prettier --write

feat(math2d): Complete Vector2 refactor with full API parity
  packages/math2d/src/geometry/index.ts
  packages/math2d/src/mat2.ts
  packages/math2d/src/vector2/arithmetic.ts
  packages/math2d/src/vector2/index.ts
  packages/math2d/src/vector2/instance/arithmetic.ts
  packages/math2d/src/vector2/instance/comparison.ts
  packages/math2d/src/vector2/instance/constraints.ts
  packages/math2d/src/vector2/instance/conversion.ts
  packages/math2d/src/vector2/instance/geometry.ts
  packages/math2d/src/vector2/instance/interpolation.ts
  packages/math2d/src/vector2/instance/mutators.ts
  packages/math2d/src/vector2/instance/transforms.ts
  packages/math2d/src/vector2/missing_static_methods.ts
  packages/math2d/src/vector2/temporary-complete.ts
Due: eslint --fix, prettier --write

feat(math2d): Add missing core static methods and improve documentation
  packages/math2d/MATH2D_COMPLETE_REVIEW.md
  packages/math2d/MIGRATION_PLAN.md
  packages/math2d/VECTOR2_REFACTOR_ANALYSIS.md
  packages/math2d/src/vector2/JSDOC_STATUS.md
  packages/math2d/src/vector2/index.ts
  packages/math2d/src/vector2/missing_core_static_methods.ts
  packages/math2d/src/vector2/missing_static_methods.ts
  packages/math2d/src/vector2/original-vector2.txt
  packages/math2d/src/vector2/static_methods_list.md
Due: eslint --fix, prettier --write

feat(math2d): standardize tolerance usage across the library
  packages/math2d/VECTOR2_STATIC_METHODS_STATUS.md
  packages/math2d/src/angle.ts
  packages/math2d/src/constants/index.ts
  packages/math2d/src/constants/tolerance-types.ts
  packages/math2d/src/rot2.ts
  packages/math2d/src/transform2.ts
  packages/math2d/src/vector2/constants.ts
  packages/math2d/src/vector2/geometry.ts
  packages/math2d/src/vector2/instance/arithmetic.ts
  packages/math2d/src/vector2/instance/comparison.ts
  packages/math2d/src/vector2/instance/constraints.ts
  packages/math2d/src/vector2/instance/conversion.ts
  packages/math2d/src/vector2/instance/geometry.ts
  packages/math2d/src/vector2/instance/interpolation.ts
  packages/math2d/src/vector2/instance/mutators.ts
  packages/math2d/src/vector2/instance/transforms.ts
  packages/math2d/src/vector2/interpolation.ts
  packages/math2d/src/vector2/missing_core_static_methods.ts
  packages/math2d/src/vector2/missing_static_methods.ts
Due: eslint --fix, prettier --write

refactor(math2d): implement DRY principles and standardize error handling
  packages/math2d/src/core-utils/error-messages.ts
  packages/math2d/src/core-utils/index.ts
  packages/math2d/src/core-utils/math-common.ts
  packages/math2d/src/core-utils/validation.ts
  packages/math2d/src/vector2/instance/arithmetic.ts
  packages/math2d/src/vector2/instance/comparison.ts
  packages/math2d/src/vector2/instance/mutators.ts
  packages/math2d/src/vector2/missing_core_static_methods.ts
  packages/math2d/src/vector2/missing_static_methods.ts
Due: eslint --fix, prettier --write

feat(math2d): implement SOLID principle interfaces
  packages/math2d/src/interfaces/arithmetic.ts
  packages/math2d/src/interfaces/comparable.ts
  packages/math2d/src/interfaces/index.ts
  packages/math2d/src/interfaces/interpolatable.ts
  packages/math2d/src/interfaces/normalizable.ts
  packages/math2d/src/interfaces/serializable.ts
  packages/math2d/src/interfaces/transformable.ts
  packages/math2d/src/vector2/index.ts
  packages/math2d/src/vector2/instance/arithmetic.ts
  packages/math2d/src/vector2/instance/mutators.ts
  packages/math2d/src/vector2/missing_static_methods.ts
  packages/math2d/src/vector2/types.ts
Due: eslint --fix, prettier --write

feat(math2d): modularize Mat2 following Vector2 pattern
  packages/math2d/API_CONSISTENCY_PLAN.md
  packages/math2d/COHERENCE_REVIEW_RESULTS.md
  packages/math2d/MATH2D_COMPLETE_REVIEW.md
  packages/math2d/MATH2D_EXHAUSTIVE_REVIEW.md
  packages/math2d/MIGRATION_PLAN.md
  packages/math2d/REFACTOR_ANALYSIS.md
  packages/math2d/STRUCTURE_MIGRATION.md
  packages/math2d/VECTOR2_COMMERCIAL_GRADE_REVIEW.md
  packages/math2d/VECTOR2_CORRECTED_SUMMARY.md
  packages/math2d/VECTOR2_REFACTOR_ANALYSIS.md
  packages/math2d/VECTOR2_STATIC_METHODS_STATUS.md
  packages/math2d/src/mat2/base.ts
  packages/math2d/src/mat2/constants.ts
  packages/math2d/src/mat2/factories.ts
  packages/math2d/src/mat2/helpers.ts
  packages/math2d/src/mat2/index.ts
  packages/math2d/src/mat2/instance/arithmetic.ts
  packages/math2d/src/mat2/instance/comparison.ts
  packages/math2d/src/mat2/instance/conversion.ts
  packages/math2d/src/mat2/instance/mutators.ts
  packages/math2d/src/mat2/instance/transforms.ts
  packages/math2d/src/vector2/JSDOC_STATUS.md
  packages/math2d/src/vector2/original-vector2.txt
  packages/math2d/src/vector2/static_methods_list.md
Due: eslint --fix, prettier --write

feat(math2d): start Mat3 modularization
  packages/math2d/src/mat3/base.ts
  packages/math2d/src/mat3/constants.ts
  packages/math2d/src/mat3/factories.ts
  packages/math2d/src/mat3/helpers.ts
  packages/math2d/src/mat3/index.ts
  packages/math2d/src/mat3/instance/mutators.ts
Due: eslint --fix, prettier --write

feat(math2d): add Mat3 arithmetic, transforms and affine modules
  packages/math2d/src/mat3/index.ts
  packages/math2d/src/mat3/instance/affine.ts
  packages/math2d/src/mat3/instance/arithmetic.ts
  packages/math2d/src/mat3/instance/mutators.ts
  packages/math2d/src/mat3/instance/transforms.ts
Due: eslint --fix, prettier --write

feat(math2d): complete Mat3 comparison and conversion modules
  packages/math2d/src/mat3/index.ts
  packages/math2d/src/mat3/instance/comparison.ts
  packages/math2d/src/mat3/instance/conversion.ts
Due: eslint --fix, prettier --write

feat(math2d): start Rot2 modularization
  packages/math2d/src/rot2/base.ts
  packages/math2d/src/rot2/constants.ts
  packages/math2d/src/rot2/factories.ts
  packages/math2d/src/rot2/helpers.ts
  packages/math2d/src/rot2/index.ts
  packages/math2d/src/rot2/instance/mutators.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.[jt]s) or (any of: **/*.ts)
  prettier --write: any of: *.{ts,js,css,scss,json,md}
