Repository rndelpuerto/lenguados: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revert non-dependency config changes
  docs/package.json
  jest.dom.setup.ts
  package-lock.json
  package.json
  packages/math2d/src/validation/assert.ts
Due: eslint --fix, prettier --write

Add partial consistency
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/.openspec.yaml
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/design.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/proposal.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/specs/api-consistency-patterns/spec.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/specs/api-conventions/spec.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/specs/auxiliary-api/spec.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/specs/core-types-api/spec.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/specs/performance-architecture/spec.md
  openspec/changes/archive/2026-03-20-math2d-api-consistency-audit/tasks.md
  openspec/specs/api-consistency-triality/spec.md
  openspec/specs/core-types-api/spec.md
  openspec/specs/performance-architecture/spec.md
  packages/math2d/src/auxiliary/angle/operations.ts
  packages/math2d/src/core/complex.ts
  packages/math2d/src/core/interval.ts
  packages/math2d/src/core/matrix2.ts
  packages/math2d/src/core/matrix3.ts
  packages/math2d/src/core/rotation2.ts
  packages/math2d/src/core/transform2.ts
  packages/math2d/src/core/vector2.ts
  packages/math2d/src/deterministic/deterministic-kernels.ts
  packages/math2d/src/types/index.ts
  packages/math2d/src/utils/parse.ts
  packages/math2d/src/validation/assert.ts
  packages/math2d/test/core/complex.node.spec.ts
  packages/math2d/test/core/interval.node.spec.ts
  packages/math2d/test/core/matrix2.node.spec.ts
  packages/math2d/test/core/rotation2.node.spec.ts
  packages/math2d/test/core/transform2.node.spec.ts
  packages/math2d/test/core/vector2.node.spec.ts
Due: eslint --fix, prettier --write

chore: add AI config files to .gitignore
  .gitignore
Due: none

Improve math2d exports
  packages/math2d/module-internals.json
  packages/math2d/package.json
  packages/math2d/src/index.ts
  packages/math2d/src/validation/shapes.ts
  rollup.config.mjs
Due: eslint --fix, prettier --write

Improve documentation
  ARCHITECTURE.md
  CONTRIBUTING.md
  MODULE_EXPORTS.md
  README.md
  docs/docs/packages/math2d/architecture.md
  docs/docs/packages/math2d/module-exports.md
  docs/sidebars.ts
  packages/common/README.md
  packages/examples/README.md
  packages/math2d/MODULE_EXPORTS.md
  packages/math2d/package.json
  packages/math2d/src/deterministic/deterministic-kernels.ts
  packages/math2d/src/validation/assert.ts
  packages/math2d/src/validation/shapes.ts
  scripts/generate-package-docs.mjs
Due: eslint --fix, prettier --write

Fix inconsistencies
  ARCHITECTURE.md
  MODULE_EXPORTS.md
  docs/docs/packages/math2d/tsdoc-standard.md
  packages/math2d/src/auxiliary/angle/operations.ts
  packages/math2d/src/core/complex.ts
  packages/math2d/src/core/interval.ts
  packages/math2d/src/utils/random-source.ts
  packages/math2d/test/auxiliary/angle/operations.node.spec.ts
  packages/math2d/test/core/complex.node.spec.ts
  packages/math2d/test/core/interval.node.spec.ts
  packages/math2d/test/utils/random-source.node.spec.ts
Due: eslint --fix, prettier --write

Fix documentation
  ICONOGRAPHY_STANDARD.md
  docs/.gitignore
  docs/docs/packages/math2d/module-exports.md
  scripts/generate-package-docs.mjs
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.[jt]s) or (any of: **/*.ts)
  prettier --write: any of: *.{ts,js,css,scss,json,md}
